<p id = "notice"></p>
<div class = "container">
  <div class = "row">
    <div class = "col-md-1 py-3 mx-auto"></div>
    <div class = "col-md-10 py-3 mx-auto">
      <h4>投稿詳細</h4>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-4 py-3 mx-auto">
      <% if @item.image.attached? %>
        <%= image_tag @item.image, size: "300x500" %>
      <% else %>
        <%= image_tag 'no_image', size: "300x500" %>
      <% end %>
    </div>
    <div class = "col-md-8 py-3 mx-auto">
      <div class = "row">
        <div class = "col-md-8 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">投稿者</div>
        <div class = "col-md-3 py-3 mx-auto"><%= @item.customer.name %></div>
        <div class = "col-md-2 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">投稿日</div>
        <div class = "col-md-3 py-3 mx-auto"><%= @item.created_at.strftime('%Y/%m/%d') %></div>
        <div class = "col-md-2 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">商品名</div>
        <div class = "col-md-3 py-3 mx-auto"><%= @item.name %></div>
        <div class = "col-md-2 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">タグ</div>
        <div class = "col-md-3 py-3 mx-auto"><%= @item.tag.name %></div>
        <div class = "col-md-2 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">商品説明</div>
        <div class = "col-md-3 py-3 mx-auto"><%= @item.introduction %></div>
        <div class = "col-md-2 py-3 mx-auto"></div>
      </div>
      <div class = "row">
        <div class = "col-md-3 py-3 mx-auto">♥<%= @item.favorites.count %> いいね</div>
        <div class = "col-md-5 py-3 mx-auto"></div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-md-2 py-3 mx-auto">コメント件数：<%= @item.comments.count %></div>
    <div class = "col-md-3 py-3 mx-auto">ユーザーネームコメント日</div>
    <div class = "col-md-3 py-3 mx-auto">ユーザーネーム</div>
    <div class = "col-md-4 py-3 mx-auto">コメント内容</div>
  </div>
  <div class = "row">
    <% @item.comments.each do |comment| %>
    <div class = "col-md-2 py-3 mx-auto"></div>
    <div class = "col-md-3 py-3 mx-auto"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
    <div class = "col-md-3 py-3 mx-auto"><%= link_to comment.customer.name, admin_customer_path(@item.customer.id) %></div>
    <div class = "col-md-4 py-3 mx-auto"><%= link_to comment.comment, edit_admin_comment_path(comment.id) %></div>
    <% end %>
  </div>
</div>